@charset "utf-8";

/* 리셋 */
body {
	font:normal 12px '나눔고딕', nanumgothic , Arial, sans-serif;
	line-height:1.7;
	color:#666666;
	background-color:#fff;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
li {list-style:none;}
a {text-decoration:none;}
table {border-collapse: collapse; width:100%;}
table caption {visibility: hidden; height:0}

/* layout */

header {}









/* common modul*/